<form action="/test/response" method="post">
  <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
  <input type="text" />
  <input type="text" />
  <input type="submit" value="submit" />
</form>
